@model List<CitrixApplicationInfo>
@addTagHelper *, Microsoft.AspNet.Mvc.TagHelpers
@addTagHelper *,storefront-sample-web

<!DOCTYPE html>  
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css">
    </head>
    <body>
      <div class="container">
        @foreach ( var item in Model )
        {
          <div>
            <Citrix-App-Url app-item="@item" window-target="_blank">
              <Citrix-App-Icon app-item="@item" image-size="64" app-id="@item.ID"></Citrix-App-Icon>
              <div>@item.AppTitle</div>
            </Citrix-App-Url>
          </div>
        }
      </div>
      <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
      <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
      <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>